
header
{width:100%;
height:70px;
background-color: rgba(48, 49, 49, 0.192);}


ul{
    width:auto;
    float:right;
    margin-top:8px;
}

li{
    display:inline-block;
    padding:20px 30px;
}

a{
    text-align:center;
    color:darkblue;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
}

a:hover{
    color: cadetblue;
}








