
.navbar{
    margin:0px;
    height: 75px;
    padding:0px;
    width:100%;
    background-color: rgba(100, 100, 97, 0.801);
}


li{list-style: none;
display: inline-block;
margin-right: 30px;
padding:15px;
font-size: 25px;
font-family: poppins,sans-serif;}

li a{color: antiquewhite;
text-decoration: none;
text-transform: uppercase;}

li a:hover{color: black;
background-color: blue;}


h4{
    font-family: poppins,sans-serif;
    letter-spacing:8px;
    font-size: 10px;
    color: blanchedalmond;
    font-weight: 20;
    margin-left:20px;
}

