
.navbar{
    margin:0px auto;
    height: 75px;
    padding:0px;
    width:100%;
    background-color:grey;
    box-shadow: black 0px 5px 7px;
}


li{list-style: none;
display: inline-block;
margin: 10px;
padding:10px;
font-size: 25px;
font-family: poppins,sans-serif;
text-align:left;
position:relative;}

li a{color: antiquewhite;
text-decoration: none;
text-transform: uppercase;}

li a:hover{color:blue;
    display: block;
    position: relative;}

.logo{position:absolute;
    margin:75%;

}

